<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="note.js"></script>
</head>
<body data-ng-app="notesApp">
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">WreNote</a>
    </div>
</nav>
<div class="container" data-ng-controller="notesController">
    <button data-ng-click="addNoteModal()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Add <i class="glyphicon glyphicon-plus"></i>
    </button>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">{{toEditNote ? 'Edit Note': 'Add Note'}}</h3>
                </div>
                <div class="modal-body">
                    <form name="form">
                        <div class="form-group {{form.heading.$touched && form.heading.$invalid ? 'has-error' : ''}}">
                            <span style="color: maroon" data-ng-show="form.heading.$touched && form.heading.$invalid">Heading is required</span>
                            <input type="text" placeholder="Heading" name="heading" required class="form-control"
                                   data-ng-model="heading">
                        </div>
                        <div class="form-group {{form.content.$touched && form.content.$invalid ? 'has-error' : ''}}">
                            <span style="color: maroon" data-ng-show="form.content.$touched && form.content.$invalid">Content is required</span>
                            <textarea name="content" required placeholder="Content" rows="5" class="form-control"
                                      data-ng-model="content"></textarea>
                        </div>
                        <button data-ng-hide="toEditNote" class="btn btn-primary" data-ng-click="addNote()">Add</button>
                        <button data-ng-show="toEditNote" class="btn btn-primary" data-ng-click="saveEditedNote()">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--<div class="note col-sm-6 col-md-4" style="margin-top: 20px" data-ng-repeat="note in allNotes">-->
            <!--<div class="panel panel-primary">-->
                <!--<div class="panel-heading">-->
                    <!--<span contenteditable="false" data-ng-blur="saveEdit('heading')" data-ng-dblclick="edit()">{{ note.heading }}</span>-->
                    <!--<br>-->
                    <!--<small style="font-size: 0.7em" class="text-xs">{{ time() }}</small>-->
                    <!--<span class="glyphicon glyphicon-trash pull-right" data-ng-click="deleteNote()"-->
                          <!--style="margin-left: 10px"></span>-->
                    <!--<span class="glyphicon glyphicon-pencil pull-right" data-toggle="modal" data-target="#myModal" data-ng-click="editNoteModal()"></span>-->
                <!--</div>-->
                <!--<div class="panel-body" contenteditable="false" data-ng-blur="saveEdit('content')" data-ng-dblclick="edit()">-->
                    <!--{{ note.content }}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <notes-dir edit="edit" editnotemodal="editNoteModal" deletenote="deleteNote" saveedit="saveEdit" time="time" notes="allNotes"></notes-dir>
    </div>
</div>


</body>
</html>